<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>index</title>
  <script type="text/javascript" src="../static/echarts/js/jquery.js"></script>
  <link rel="stylesheet" href="../static/echarts/css/comon0.css">
</head>
<script>
  $(window).load(function () {
    $(".loading").fadeOut()
  })

  // 设置字体
  $(document).ready(function () {
    var whei = $(window).width()
    $("html").css({ fontSize: whei / 20 })
    $(window).resize(function () {
      var whei = $(window).width()
      $("html").css({ fontSize: whei / 20 })
    });
  });
</script>
<script type="text/javascript" src="../static/echarts/js/echarts.min.js"></script>
<script src="../static/echarts/js/myMap.js"></script>

<body>
  <div class="loading">
    <div class="loadbox"> <img alt="图片" src="../static/echarts/picture/loading.gif"> 页面加载中... </div>
  </div>
  <div class="head">
    <h1>新冠疫情数据可视化</h1>
    <div class="weather">
      <iframe width="410" height="20" frameborder="0" scrolling="no" hspace="0" 
      src="https://i.tianqi.com/?c=code&id=11"
        style="background-color:SteelBlue;position: relative;top: 5px;">
      </iframe>
      <span id="showTime"></span>
    </div>

    <script>
      var t = null;
      t = setTimeout(time, 1000);//开始运行
      function time() {
        clearTimeout(t);//清除定时器
        dt = new Date();
        var y = dt.getFullYear();//获取年
        var mt = dt.getMonth() + 1;//获取月份
        var day = dt.getDate();//获取日期
        var h = dt.getHours();//获取时
        var m = dt.getMinutes();//获取分
        var s = dt.getSeconds();//获取秒
        document.getElementById("showTime").innerHTML = y + "年" + mt + "月" + day + "-" + h + "时" + m + "分" + s + "秒";
        t = setTimeout(time, 1000); //设定定时器，循环运行     
      }
    </script>


  </div>
  <div class="mainbox">
    <ul class="clearfix">
      <li>
        <div class="boxall" style="height: 3.2rem">
          <div class="alltitle">确诊人数前七的省份</div>
          <div class="allnav" id="echart1"></div>
          <div class="boxfoot"></div>
        </div>

        <div class="boxall" style="height: 3.2rem">
          <div class="alltitle">治愈前七省份</div>
          <div class="allnav" id="echart2"></div>
          <div class="boxfoot"></div>
        </div>

        <div class="boxall" style="height: 3.2rem">
          <div style="height:100%; width: 100%;">
            <div class="sy" id="fb1"></div>
            <div class="sy" id="fb2"></div>
            <div class="sy" id="fb3"></div>
          </div>
          <div class="boxfoot">
          </div>
        </div>
      </li>
      <li>
        <div class="bar">
          <div class="barbox">
            <ul class="clearfix">
              <li class="pulll_left counter" id="totalConfirmedCount">12581189</li>
              <li class="pulll_left counter" id="totalCuredCount">3912410</li>
            </ul>
          </div>

          <div class="barbox2">
            <ul class="clearfix">
              <li class="pulll_left">2022年确诊总人数 </li>
              <li class="pulll_left">2022年治愈总人数</li>
            </ul>
          </div>
        </div>

        <div class="map">
          <div class="map1"><img alt="图片" src="../static/echarts/picture/lbx.png"></div>
          <div class="map2"><img alt="图片" src="../static/echarts/picture/jt.png"></div>
          <div class="map3"><img alt="图片" src="../static/echarts/picture/map.png"></div>
          <div class="map4" id="map_1"></div>
        </div>
      </li>
      <li>
        <div class="boxall" style="height:3.4rem">
          <div class="alltitle">模块标题样式</div>
          <div class="allnav" id="echart4"></div>
          <div class="boxfoot"></div>
        </div>

        <div class="boxall" style="height: 3.2rem">
          <div class="alltitle">模块标题样式</div>
          <div class="allnav" id="echart5"></div>
          <div class="boxfoot"></div>
        </div>

        <div class="boxall" style="height: 3rem">
          <div class="alltitle">模块标题样式</div>
          <div class="allnav" id="echart6"></div>
          <div class="boxfoot"></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="back"></div>


  <script type="text/javascript" src="../static/echarts/js/china.js"></script>
  <script type="text/javascript" src="../static/echarts/js/area_echarts.js"></script>
</body>

</html>